<a href="https://colab.research.google.com/github/salmaali81/IEEE_DS_Tasks/blob/master/BeginnersTask_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='red'> 1) Which of the following statements is NOT true? </font>
#### A) In a symmetric distribution, the mean and the median are equal.
#### B) The first quartile is equal to the twenty-fifth percentile.
#### C) In a symmetric distribution, the median is halfway between the first and the third quartiles.
#### D) The median is always greater than the mean.
#### E) The range is the difference between the largest and the smallest observation in the data set.

In [ ]:
A = True #@param {type:"boolean"}
B = True #@param {type:"boolean"}
C = True #@param {type:"boolean"}
D = False #@param {type:"boolean"}
E = True #@param {type:"boolean"}

# <font color='red'> 2) What is an outlier? </font>

In [ ]:
# your answer

In [ ]:
#An outlier is an observation or data point that significantly deviates from the other observations in a dataset.

# <font color='red'> 3) What is the name of the graph below and what insights we discover from it? </font>

![box plot.jpg]()

In [ ]:
#rigth skewed boxplot, the value of the mean is the largest and the value of the mode is the smallest while the median is placed in the middle.
#The value of the mean is the largest in this case because it is sensitive to outliers that occur in the right tail. These outliers pull the mean to the right.

## <font color='red'> 4) What is the meaning of "the most popular response or value in the data set." ? </font>

In [ ]:
#mode.

# <font color='red'> 5) What is the meaning of "  the average distance between each value in your data set and the mean." ? </font>

In [ ]:
#Variance

# <font color='red'> 6) The following five questions are focused around a public library. Staff members are trying to gain insight on current library card holders and have sent out a short survey to them. Read each prompt carefully and determine the variable type for each question: </font>

#### 1.Library card holders were asked whether or not they have checked out a book from the library in the past month (yes or no). What type of variable would their response be considered?



#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [ ]:
A = True #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = False #@param {type:"boolean"}

2.Library card holders were asked to report the amount of late fees they have been charged in the past year (input in the form of $XX.XX). What type of variable would their response be considered?

#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [ ]:
A = False #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = True #@param {type:"boolean"}
D = False #@param {type:"boolean"}

3.Library card holders were asked to reflect on their most recent book they checked out and report the genre that it most closely represented (i.e. Science Fiction, Action, Romance, Mystery, etc.). What type of variable would their response be considered?
#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [ ]:
A = True #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = False #@param {type:"boolean"}

4.The library recently added a new online checkout/renewal system. Library card holders were asked how many times they have used the new online system. What type of variable would their response be considered?
#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [ ]:
A = False #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = True #@param {type:"boolean"}

5.Library card holders were asked to report the satisfaction of their library experience during their last visit using a 1 to 5 scale (with the following representations: 1 - Extremely Unsatisfied, 2 - Unsatisfied, 3 - Neutral, 4 - Satisfied, 5 - Extremely Satisfied). What type of variable would their response be considered?
#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [ ]:
A = False #@param {type:"boolean"}
B = True #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = False #@param {type:"boolean"}

# <font color='red'> 7) Create a class called Person that include some valriables like :
* name
* age
* gender
* address

In [ ]:
class Person():
    def __init__(self,name,age,gender,address):
        self.name=name
        self.age = age
        self.gender=gender
        self.address= address

# <font color='red'> 8) Create a class called Circle which calculates the area and circumference of a circle

In [ ]:
pi=22/7
class Circle():
    def __init__(self,r):
        self.r=r
    def __str__(self):
        return "the area = {}, and the circumference = {}".format(pi*self.r*self.r,2*pi*self.r)
c = Circle(5)
print(c)

the area = 78.57142857142857, and the circumference = 31.428571428571427

# <font color='red'> 9) Complete the following code : </font>


    
class Product:

    def __init__(self, name, price, quantity):
        -
        -
        -

    def calculate_total_cost(self):
        return  ---------
        
product1 = Product("Laptop", 15000, 3)

product2 = Product("Headphones", 1200, 2)

In [ ]:
class Product:
    def __init__(self, name, price, quantity):
        self.name= name
        self.price = price
        self.quantity = quantity

    def calculate_total_cost(self):
        r = self.price*self.quantity
        return "{}`s total cost equal {}".format(self.name,r)

product1 = Product("Laptop", 15000, 3)
product2 = Product("Headphones", 1200, 2)

print(product1.calculate_total_cost())
print(product2.calculate_total_cost())

Laptop`s total cost equal 45000
Headphones`s total cost equal 2400

# <font color='red'> **Solve these problems with python**:<br>
<a href='https://codeforces.com/group/xLZjnfy3ER/contest/374078/problem/F'> **problem 1**

<a href='http://codeforces.com/contest/268/problem/A'> **problem 2**
<br>

In [ ]:
# Problem 1
n = int(input())
j=1
for i in range(n):
    print(j,j+1,j+2,"PUM")
    j+=4

In [ ]:
# Problem 2
n = int(input())
l =[]
for i in range(n):
    h,a = map(int,input().split())
    r=[h,a]
    l.append(r)
c=0
for i in range(n):
    for j in range(n):
        if(l[i][0]==l[j][1]):
            c+=1
print(c)