<a href="https://colab.research.google.com/github/salmaali81/IEEE_DS_Tasks/blob/master/BegginersTask_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Task_2  ^_^**

---

# <font color='red'> 1) Mark down all the Valid function-calls for this function: </font>


# def fun1(name, age):<br> ..... print(name,age)






<br> </br>
#### A) fun1( "Emma"  ,  23 )
<br> </br>
#### B) fun1( age = 23  ,  name = "Emma" )
<br> </br>
#### C) fun1( "Emma"  ,  age = 23 )
<br> </br>
#### D) fun1( name = "Emma" ,  23 )
<br> </br>
#### E) fun1( age = 23  ,  "Emma" )

In [ ]:
A = True #@param {type:"boolean"}
B = True #@param {type:"boolean"}
C = True #@param {type:"boolean"}
D = False #@param {type:"boolean"}
E = False #@param {type:"boolean"}

# <font color='red'> 2) Debug the following code and correct the Error to make the output = 15: </font>


    
    def outer_fun(a, b , c):
        def inner_fun(d , e):
            return d + e

        return inner_fun(a, b , c)
        return a

    result = outer_fun(5, 10)
    print(result)

In [ ]:
def outer_fun(a, b , c=0):
    def inner_fun(d , e):
        return d + e

    return inner_fun(a, b)

result = outer_fun(5, 10)
print(result)

# <font color='red'> 3) Debug the following code and correct the Error to make the output = 16: </font>

    def f1(x):
        global x
        x+=1
        print(x)
    f1(15)

In [ ]:
def f1(x):
    #global x
    x+=1
    print(x)
f1(15)

# <font color='red'> 4) Write a function that takes any variable "n" and return its factorial: </font>

##### **hint:** factorial of 5 = 5 x 4 x 3 x 2 x **1**

In [ ]:
def fact(x):
    fac=1
    i =1
    if (x==0):
        return 1
    else:
        while i <= x:
            fac *= i
            i += 1
        return fac
n = int(input())
print(fact(n))

7
5040

# <font color='red'> 5) Write a code to print the following dictionary after: </font>
* # Ordering the values of each Key and the print the key witht highest value.


> **`dict ={ "Ahmed": (50 , 30 , 40) , "Mohammed": (15 , 10 , 25) , "Khaled": (10 , 40 , 20) }`**


# The output should be:
* `{"Ahmed": (50 , 40 , 30) , "Mohammed": (25 , 15 , 10) , "Khaled": (40 , 20 , 10)}`
* `Ahmed`

In [ ]:
d = {"Ahmed": (50 , 30 , 40) , "Mohammed": (15 , 10 , 25) , "Khaled": (10 , 40 , 20)}
m=0
for k in d:
    d[k]=tuple(sorted(d[k],reverse=True))
    if max(d[k])>m:
        m=max(d[k])
        ans =k

print(d)
print(ans)

{'Ahmed': (50, 40, 30), 'Mohammed': (25, 15, 10), 'Khaled': (40, 20, 10)}
Ahmed

# <font color='red'> 6) Write a Python function that accepts a string and counts the number of upper and lower case letters. </font>
* ## Sample String : "Do not Postpone today's Work To tomoRRow"

# Expected Output :
* `No. of Upper case characters :  6`
* `No. of Lower case Characters :  27 `

In [9]:
def LAcount(s):
    lc=0
    ac=0
    i =0
    while i<len(s):
        if s[i].islower():
            lc+=1
        elif s[i].isupper() :
            ac+=1
        i+=1
    return lc,ac
s = input()
print("No. of Upper case characters : ", LAcount(s)[1])
print("No. of Lower case Characters : ",LAcount(s)[0])

Do not Postpone today's Work To tomoRRow
No. of Upper case characters :  6
No. of Lower case Characters :  27

# <font color='red'> 7) Write a Python function that two numbers N & M and print the summation of their last digits . </font>

# * `Input :  13  12`
# * `Output: 5`

In [ ]:
def sum(n,m):
    return int(n[-1])+int(m[-1])

n,m=input().split()
print(sum(n,m))

# <font color='red'> 8) Your input is corresponding to a person's age (in days). print his age in years, months and days, followed by its respective message "years", "months" and "days" . </font>

# * `Input :  400`
# * `Output:  1 year  1 months  5 days`

In [ ]:
a = int(input())
y = a//365
m=0
d=0
if a%365!=0:
    mod = a%365
    m=mod//30
    d = a-(y*365+m*30)
if y==1:
  ys=""
else:
  ys="s"
if m==1:
  ms=""
else:
  ms="s"
if d==1:
  ds=""
else:
  ds="s"

print("{} year{}, {} month{}, {} day{}".format(y,ys,m,ms,d,ds))

450
1 year, 2 months, 25 days

# <font color='red'> **Solve these problems with python**:<br>
<a href='https://codeforces.com/group/6Yv6FRlDFU/contest/327653/problem/C'> **problem 1** </a> </font>
    <br>
    <br>
<a href='https://codeforces.com/group/6Yv6FRlDFU/contest/327653/problem/A'> **problem 2** </a> </font>

In [ ]:
# problem_1 Link

In [ ]:

n = int(input())
s= input()

q=[s[0]]
i=0
j=0
while i< len(s):
    if s[i]!=q[j]:
        q.append(s[i])
        j+=1
    i+=1
print(n-len(q))

In [ ]:
n=int(input())
s=input()
c=0
for i in range (n-1):
    if (s[i]==s[i+1]):
        c+=1
print(c)

In [ ]:
# problem_2 Link

In [ ]:
n,m = input().split()
n=int(n)
m=int(m)
c=0
for i in range(1,n+1):
    if i%2!=0:
        print("#"*m)
    else:
        if c==0:
            print("."*(m-1)+"#")
            c=1
        elif c==1:
            print("#"+"."*(m-1))
            c=0